# Android emulator:  http://10.0.2.2:3000
# iOS simulator:     http://localhost:3000
# Physical phone:    http://<your-PC-LAN-IP>:3000  (same Wi-Fi, firewall open)
EXPO_PUBLIC_API_URL=http://192.168.8.227:3000
#http://192.168.1.10:3000
